<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @job_experience.company_name %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @job_experience.company_address %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @job_experience.company_phone %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job_experience.job_title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job_experience.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job_experience.end_date %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job_experience.job_description %>
</p>

<p>
  <strong>Reason of resignation:</strong>
  <%= @job_experience.reason_of_resignation %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @job_experience.profile %>
</p>

<%= link_to 'Edit', edit_job_experience_path(@job_experience) %> |
<%= link_to 'Back', job_experiences_path %>
