  <fieldset>
    <div class="nested-fields">
      <div class="form-inline">
        <div class="form-group">
          <%= f.label :name, "Nama"%>
          <%= f.text_field :name, class: "form-control", placeholder: "Nama Penghargaan" %>
        </div>

        <div class="form-group">
          <%= f.label :notes, "Keterangan"%>
          <%= f.text_area :notes, class: "form-control", placeholder: "Penjelasan singkat mengenai penghargaan." %>
        </div>

        <div class="form-group">
          <%= f.label :name, "Hapus"%>
          <%= link_to_remove_association '', f , class: 'btn btn-sm btn-danger  glyphicon glyphicon-trash' %>  
        </div>
      </div>
    </div>
  </fieldset>


        
