<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Id no:</strong>
  <%= @profile.id_no %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @profile.nationality %>
</p>

<p>
  <strong>Tribe:</strong>
  <%= @profile.tribe %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @profile.birth_place %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Blood:</strong>
  <%= @profile.blood %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>Married:</strong>
  <%= @profile.married %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @profile.religion %>
</p>

<p>
  <strong>Id address:</strong>
  <%= @profile.id_address %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @profile.current_address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @profile.mobile_phone %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
