<p id="notice"><%= notice %></p>

 <%= current_user.name %>


<h1> <%= @profile.name %> </h1>




  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Data Umum</h3>
    </div>

      <div class="panel-body">
        <strong>No. Kartu Identitas</strong> <br>
        <%= @profile.id_no %> <br> 
      </div>


      <div class="panel-body">
        <strong>Tempat Lahir</strong> <br>
        <%= @profile.birth_place %> <br> 
        <strong>Tanggal Lahir</strong><br>
        <%= @profile.birth_date %><br> 
      </div>


      <div class="panel-body">
        <strong>Kebangsaan</strong> <br>
        <%= @profile.nationality %> <br> 
        <strong>Suku</strong><br>
        <%= @profile.tribe %><br> 
        <strong>Agama</strong><br>
        <%= @profile.religion %><br> 
        <strong>Status Pernikahan</strong><br>
        <%= @profile.married %> <br>
      </div>

      
      <div class="panel-body">
        <strong>Jenis Kelamin</strong> <br>
        <%= @profile.sex %> <br> 
        <strong>Usia (tahun)</strong> <br>
        <%= @profile.age %> <br> 
        <strong>Tinggi Badan (cm)</strong><br>
        <%= @profile.height %><br>
        <strong>Berat Badan (cm)</strong><br>
        <%= @profile.weight %><br>
        <strong>Golongan Darah</strong><br>
        <%= @profile.blood %><br>
      </div>

    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Pendidikan Formal</h3>
    </div>
    <div class="panel-body">
      <strong>Menurut Kartu Identitas</strong> <br>
      <%= @profile.id_address %> <br> 
      <strong>Alamat Tinggal Sekarang</strong><br>
      <%= @profile.current_address %>  
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Alamat</h3>
    </div>
    <div class="panel-body">
      <strong>Menurut Kartu Identitas</strong> <br>
      <%= @profile.id_address %> <br> 
      <strong>Alamat Tinggal Sekarang</strong><br>
      <%= @profile.current_address %>  
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Kontak</h3>
    </div>
    <div class="panel-body">
      <strong>Email</strong> <br>
      <%= @profile.email %> <br> 
      <strong>Handphone</strong><br>
      <%= @profile.mobile_phone %> <br>
      <strong>Telepon Rumah/Perusahaan</strong><br>
      <%= @profile.phone %>  
    </div>
  </div>




<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
