<%= form_for(language) do |f| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :speech %>
    <%= f.text_field :speech %>
  </div>

  <div class="field">
    <%= f.label :writing %>
    <%= f.text_field :writing %>
  </div>

  <div class="field">
    <%= f.label :reading %>
    <%= f.text_field :reading %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :profile_id %>
    <%= f.text_field :profile_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
